{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Sky Way</title>
    <link rel="stylesheet" href="{% static 'css/all_data.css' %}">
</head>
<body>
  <style>
    .header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 772px;
    margin-bottom: 20px;
    }

    .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 772px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
}
  </style>
<div class="container">
  <div class="header">
    <h1>Sky Way</h1>
    <span>ISTRA AIR</span>
  </div>
  <div class="content">
    <div>
     <table style="width: 100%; border-collapse: collapse;">
            <thead>
                <tr>
                    <th>Дата формирования</th>
                    <th>Командир экипажа</th>
                    <th>Действия                      
                      <a href="{% url 'add_equipage' %}">
                      <button type="submit">Добавить</button>
                    </a>
                  </th>
                </tr>
            </thead>
            <tbody>
              {% for equipage in all_equipage %}
              <form method="post"  style="display:inline;" enctype="multipart/form-data">
                {% csrf_token %}
                <tr>
                    <td> 
                      <input type="hidden" name="id_equipage" value="{{ equipage.id_equipage}}"> 
                      <input type="text" name="data_formation" value="{{ equipage.data_formation }}">
                    </td>
                    <td><input type="text" name="commander_equipage" value="{{ equipage.commander_equipage }}"></td>
                    <td>
                            <button name="update_equipage" class="form-group button">Изменить</button>
                            <button name="delete_equipage" class="form-group button" onclick="return confirm('Вы уверены, что хотите удалить этого сотрудника?');">Удалить</button>
                          </td>
                </tr>        
            </tbody>
          </form>
            {% endfor %}     
        </table>
    </div>
  </div>
</div>
</body>
</html>