{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Sky Way</title>
    <link rel="stylesheet" href="{% static 'css/all_data.css' %}">
</head>
<body>
<div class="container">
  <div class="header">
    <h1>Sky Way</h1>
    <span>ISTRA AIR</span>
  </div>
  <div class="content">
    <div>
     <table style="width: 100%; border-collapse: collapse;">
            <thead>
                <tr>
                    <th>Регистрационный номер</th>
                    <th>Тип самолета</th>
                    <th>Год производства</th>
                    <th>Действия
                      <a href="{% url 'add_plane' %}">
                        <button type="submit">Добавить</button>
                      </a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <form method="post"  style="display:inline;" enctype="multipart/form-data">
                  {% for plane in all_plane %}
                  {% csrf_token %}
                <tr>
                  <input type="hidden" name="id_plane" value="{{ plane.id_plane }}">
                    <td><input type="text" name="number_registration" value="{{ plane.number_registration }}"></td>
                    <td><input type="text" name="type_plane" value="{{ plane.type_plane }}"></td>
                    <td><input type="text" name="year_production" value="{{ plane.year_production }}"></td>
                    <td>
                            <button name="update_plane" class="form-group button">Изменить</button>
                        
                            <button type="submit" name="delete_plane" class="form-group button" onclick="return confirm('Вы уверены, что хотите удалить этот самолет?');">Удалить</button>
                    </td>
                </tr>
                {% endfor %}
              </form>
            </tbody>
        </table>
    </div>
  </div>
</div>
</body>
</html>