{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Sky Way</title>
    <link rel="stylesheet" href="{% static 'css/all_data.css' %}">
</head>
<body>
  <style>
    .header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 169%;
    max-width: 1146px;
    margin-bottom: 20px;
    }

    .content {
      display: flex;
    flex-direction: column;
    align-items: center;
    width: 249%;
    max-width: 1180px;
    padding: 4px;
    background-color: #fff;
    border-radius: 5px;
    position: relative;
}

  </style>
<div class="container">
  <div class="header">
    <h1>Sky Way</h1>
    <span>ISTRA AIR</span>
  </div>
  <div class="content">
    <div>
     <table style="width: 100%; border-collapse: collapse;">
            <thead>
                <tr>
                    <th>Сотрудник</th>
                    <th>Технический персонал</th>
                    <th>Смена</th>
                    <th>Рейс</th>
                    <th>Действия
                      <a href="{% url 'add_flight_history' %}">
                        <button type="submit">Добавить</button>
                      </a>
                    </th>
                </tr>
            </thead>
            <tbody>
              {% for flight_history in all_flight_history %}
              <form method="post"  style="display:inline;" enctype="multipart/form-data">
                {% csrf_token %}
                <tr>
                  <input type="hidden" name="id_flight_history" value="{{ flight_history.id_flight_history }}">
                    <td>
                      <label> {{ flight_history.id_employee.full_name}} </label>
                      <select class="form-group"name="id_employee">
                      {% for employee in all_employee %}
                          <option name="id_employee" value="{{employee.id_employee}}">{{employee.full_name}}</option>
                      {% endfor %}
                      </select>
                    </td>
                    <td>
                      <label> {{ flight_history.id_technical_staff.education}} </label>
                      <select class="form-group"name="id_technical_staff">
                      {% for technical_staff in all_technical_staff %}
                      <option name="id_technical_staff" value="{{technical_staff.id_technical_staff}}" >{{technical_staff.education}} {{technical_staff.experience}}</option>
                      {% endfor %}
                      </select>
                    </td>

                    <td>
                      <label> {{ flight_history.id_shift.time_start|time:"H:i"}} {{ flight_history.id_shift.time_end|time:"H:i"}} </label>
                      <select class="form-group"name="id_shift">
                      {% for shift in all_shift %}
                      <option name="id_shift" value="{{shift.id_shift}}" >{{shift.time_start|time:"H:i"}} {{shift.time_end|time:"H:i"}}</option>
                      {% endfor %}
                      </select>
                    </td>
                    <td>
                      <label> {{ flight_history.id_race.number_race}} </label>
                      <select class="form-group"name="id_race">
                      {% for race in all_race %}
                      <option name="id_race" value="{{race.id_race}}" >{{race.number_race}}</option>
                      {% endfor %}
                      </select>
                    </td>
                    <td>
                            <button name="update_flight_history" class="form-group button">Изменить</button>
                            <button name="delete_flight_history" class="form-group button" onclick="return confirm('Вы уверены, что хотите удалить этого сотрудника?');">Удалить</button>
                    </td>
                </tr>        
            </tbody>
          </form>
            {% endfor %}     
        </table>
    </div>
    <a  href="{% url 'home' %}"> <button >В меню </button></a>
  </div>
</div>
</body>
</html>