{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Sky Way</title>
    <link rel="stylesheet" href="{% static 'css/all_data.css' %}">
</head>
<body>
  <style>
    .header {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1390px;
    margin-bottom: 20px;
    }

    .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1390px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
}
  </style>
<div class="container">
  <div class="header">
    <h1>Sky Way</h1>
    <span>ISTRA AIR</span>
  </div>
  <div class="content">
    <div>
     <table style="width: 100%; border-collapse: collapse;">
            <thead>
                <tr>
                    <th>ФИО</th>
                    <th>Должность</th>
                    <th>Контактная информация</th>
                    <th>Экипаж</th>
                    <th>Технический персонал</th>
                    <th>Действия
                      <a href="{% url 'add_employee' %}">
                      <button type="submit">Добавить</button>
                    </a>
                    </th>
                </tr>
            </thead>
            <tbody>
              {% for employee in all_employee %}
              <form method="post"  style="display:inline;" enctype="multipart/form-data">
                {% csrf_token %}
                <tr>
                    <td> 
                      <input type="hidden" name="id_employee" value="{{ employee.id_employee}}"> 
                      <input type="text" name="full_name" value="{{ employee.full_name }}">
                    </td>
                    <td><input type="text" name="post" value="{{ employee.post }}"></td>
                    <td><input type="text" name="contact_information" value="{{ employee.contact_information }}"></td>
                    <td>
                      <label> {{ employee.id_equipage.commander_equipage}} </label>
                      <select class="form-group"name="id_equipage">
                      {% for equipage in all_equipage %}
                      <option name="id_equipage" value="{{equipage.id_equipage}}" >{{equipage.commander_equipage}}</option>
                      {% endfor %}
                      </select>
                    </td>
                    <td>
                      <label>{{ employee.id_technical_staff.education}} {{ employee.id_technical_staff.experience}}</label>
                      <select class="form-group" name="id_technical_staff" >
                        {% for technical_staff in all_technical_staff %}
                        <option name="id_technical_staff" value="{{technical_staff.id_technical_staff}}" >{{technical_staff.education}} {{technical_staff.experience}}</option>
                        {% endfor %}
                      </select>
                    </td>
                    <td>
                            <button name="update_employee" class="form-group button">Изменить</button>
                            <button name="delete_employee" class="form-group button" onclick="return confirm('Вы уверены, что хотите удалить этого сотрудника?');">Удалить</button>
                          </td>

                    
                </tr>        
            </tbody>
          </form>
            {% endfor %}     
        </table>
    </div>
    <a  href="{% url 'home' %}"> <button >В меню </button></a>
  </div>
</div>
</body>
</html>